* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir',
        'Montserrat',
        sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #043CAA;
    --seconday-color: #1BC768;
}

li {
    list-style: none;
}

h1 {
    font-size: 48px;
}

.backgroundImg {
    background: url('./image/background.svg') no-repeat;
    background-size: cover;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columnFlexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.affiliaton h1,
.keyBenefits h1,
.keyBenefits h2,
.clientWords h5 {
    color: var(--primary-color);
}

/* navigation  */

.icon {
    display: none;
}

nav {
    padding-top: 37px;
    height: 79px;
}

.navMenu ul {
    width: 480px;
}

.navTitle {
    font-size: 22px;
    font-weight: bold;
}

.btn button {
    border: none;
    background-color: var(--seconday-color);
    padding: 10px 38px;
    border-radius: 50px;
    color: white;
}


/* Description below  nav  */

.backgroundImg .container {
    height: 80vh;
}

.descriptionContent {
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

.descriptionContent p {
    padding: 23px 0px 52px;
    font-weight: 400px;
    font-size: 18px;
}

.descriptionContent ul li {
    padding: 10px 35px;
    background-color: var(--primary-color);
    border: 1px solid white;
    border-radius: 50px;
}

.descriptionContent ul .focusedOne {
    background-color: white;
    color: var(--primary-color);
}

.descImage {
    display: flex;
    align-self: flex-end;
}

.searchBox {
    margin: 52px 0px 0px;
    background-color: #DEE9FF;
    border-radius: 50px;

}

.searchBox i {
    padding-left: 14px;
    width: 5%;
    color: #7A7A7A;
}

.searchBox input {
    width: 50%;
    border: none;
    line-height: 22px;
    background-color: #DEE9FF;
    color: #7A7A7A;
}

.descWrapper {
    width: 100%;
    height: calc(100% - 79px);
}

.searchBox .searchBtn {
    border: none;
    padding: 12px 29px;
    background-color: var(--seconday-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
}

/* Affiliation   */
.affiliaton {
    margin-top: 94px;
}

.line {
    width: 91px;
    height: 5px;
    margin-top: 5px;
}

.lineBox {
    margin-bottom: 55px;
}

.lleft {
    background-color: var(--primary-color);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.lright {
    background-color: var(--seconday-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.affiliationImage img {
    margin: 0px 90px
}


/* KeyBenefit  */
.benefit {
    margin: 15px 30px;
}

.keyBenefits {
    margin-top: 110px;
}

.keyBenefits h2 {
    max-width: 200px;
    margin-bottom: 40px;
}

.keyBenefit ul li {
    margin: 20px 0;
}

.benefit button {
    margin-top: 20px;
    padding: 11px 70px 11px 35px;
    border-radius: 50px;
    border: 1px solid var(--seconday-color);
    background-color: white;
    color: var(--seconday-color);
}

.benefit button span {
    padding-left: 16px;
    color: var(--seconday-color);
}

.benefitDescription ul li {
    margin: 20px 0px
}

ul li img {
    margin-right: 12px;
}


/* Client Say  */
.wideContainer {
    max-width: 1400px;
}

.clientWords {
    max-width: 382px;
    margin: 48px 40px 18px;
}

.clientWords h2 {
    font-size: 36px;
}

.clientWords p {
    color: #7A7A7A;
}

.cicleDiv {
    display: flex;
    justify-content: flex-start;
}

.authorName {
    margin: 18px 0 40px;
}


.clientWords .circle {
    background-color: #C4C4C4;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.clientWords .focused {
    background-color: var(--seconday-color);
}

/* Footer  */
footer {
    margin-top: 140px;
    background-color: var(--primary-color);
    color: white;
}

.footerContent {
    padding-top: 90px;
}

.footerMail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footerDesc p {
    margin-top: 18px;
    max-width: 400px;
}

.footerMail p {
    margin-bottom: 10px;
}


.searchButton {
    height: 50px;
    width: 400px;
    background-color: #DEE9FF;
    border-radius: 50px;
}

.searchButton input {
    height: 25px;
    margin-left: 26px;
    border: none;
    background-color: #DEE9FF;
    color: #7A7A7A;
}

.searchButton button {
    padding: 16px 25px;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--seconday-color);
    color: white;
}

.footerLists {
    padding: 115px 40px 75px 20px;
}

.searchButton i {
    margin-left: 12px;
}

.dExpress {
    max-width: 210px;
}

.dExpress p {
    margin-top: 10px;
}

.footerLists h3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.footerLists .quicklink {
    margin: 15px 0;
    text-align: center;

}

.footerLists .quicklink a {
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    padding-bottom: 16px;
}

@media (max-width: 992px) {
    .container {
        padding: 16px;
    }

    .navMenu ul {
        width: 400px;
    }

    .descImage img {
        width: 280px;
        /* height: 200px; */
    }

    .client img {
        width: 350px;
    }

}


/* Responsive Design for Tab View  */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .backgroundImg .container {
        height: 60vh;
    }


    header {
        height: 40px;
    }

    nav {
        padding: 16px;
    }

    .navMenu ul {
        width: 350px;
    }

    .descWrapper {
        height: calc(100% - 79px);
        padding: 0 8px;
    }

    .descImage {
        height: 200px;
        width: 180px;
    }

    /* Affiliation  */
    .affiliationImage img {
        margin: 0 40px
    }


    /* Key Benefits */
    .benefits h1,
    .affiliaton h1 {
        font-size: 36px;
    }

    .descImg img {
        height: 240px;
        width: 240px;
    }


    /* Clients say  */
    .wideContainer {
        width: 100vw;
    }

    .client img {
        height: 300px;
        width: 300px;
        border-radius: 50px;
    }

    .clientWords {
        max-width: 300px;
    }

    /* Footer  */
    footer {
        padding: 8px;
    }

    .searchButton {
        width: 300px;
    }

    .searchButton button {
        padding: 16px;
    }


}


/* Responsive design for mobile view  */
@media (max-width: 480px) {
    .container {
        width: 100% !important;
    }

    .icon {
        display: block;
    }

    /* Navbar CSS  */

    .navMenu ul {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: flex-end;
    }

    .btn button {
        padding: 10px 20px;
    }

    .hamburger {
        flex: 0 0 calc(50% - 55px);
    }

    .searchBox {
        margin: 40px 0px 10px;
    }

    /* Description CSS starts here  */

    .backgroundImg .container {
        height: 50vh
    }

    .descriptionContent h1 {
        font-size: 24px;
    }

    .descriptionContent p {
        padding: 12px 0 22px;
        font-size: 14px;
    }

    .descriptionContent ul li {
        padding: 5px 20px;
    }

    .descImage {
        display: none;
    }

    /* Affiliation */
    .affiliaton {
        margin-top: 30px;
    }

    .line {
        width: 30px;
    }

    .benefits h1,
    .affiliaton h1 {
        font-size: 24px;
    }

    .affiliationImage img {
        width: 80px;
        margin: 0 10px;
    }

    .affiliationImage .gsk {
        width: 80px;
        height: 40px;
    }


    /* Benefits  */
    .keyBenefits {
        margin-top: 40px;
    }

    .keyBenefits .flexBox {
        flex-direction: column;
    }

    .keyBenefits .columnFlexBox .flexBox {
        flex-direction: row;
    }

    .benefit {
        margin: 35px 15px;
    }

    .benefit h2 {
        margin-top: 5px;
        font-size: 20px;
    }

    .benefit ul li {
        margin: 12px 0;
    }

    .benefit button {
        padding: 10px 8px;
        align-self: center;

    }

    .benefit .descImg img {
        width: 200px;
        height: 200px
    }

    .benefit .benefitDescription {
        order: 2
    }

    /* Customer say   */
    .client img {
        display: none;
    }

    .clientWords {
        text-align: center;
    }

    .cicleDiv {
        display: flex;
        justify-content: center;
    }

    /* Footer  */
    footer {
        margin-top: 50px;
    }

    footer .footerContent {
        flex-direction: column;
        padding-top: 40px;
        text-align: center;
    }

    .footerMail {
        padding-top: 10px;
    }

    .searchButton {
        width: 270px;
        height: 42px;
    }

    .searchButton input {
        margin-left: 12px;
    }

    .searchButton button {
        padding: 12px 12px;
    }

    .footerLists {
        padding: 0;
        margin: 24px 0;
    }

    .footerLists h3 {
        font-size: 14px;
    }

    .footerLists p {
        font-size: 12px;
    }

    .footerLists .quicklink a {
        font-size: 12px;
    }

    .dExpress p {
        max-width: 100px;
    }

    .copyright {
        font-size: 12px;
    }
}